In [65]:
import pandas as pd
import numpy as np
import itertools


df=pd.read_csv('india-districts-census-2011.csv')
first_st = df[df['State name'] =='BIHAR' ]
second_st = df[df['State name'] =='TAMIL NADU']

i =0
matched_cols = []
for val in first_st.values:
    dist_code = val[0]
    for col, val in itertools.izip(first_st.columns,val):
        for sub in second_st.values:
            dist_code1 = sub[0]
            for col1, val1 in itertools.izip(second_st.columns,sub):
                if (col== col1) and (val == val1):
                    print str(i)+'   '+str(dist_code)+', '+str(dist_code1)+', '+str(col)+', '+str(val)+', '+str(val1)
#                     matched_cols.append({'BH_dist_code': dist_code, 'TM_dist_cde':dist_code1, 'Matched_coloumn':col, 'BH_val':val,'TM_val': val1})
                    matched_cols.append((dist_code,dist_code1, col,val,val1))
                    i = i+1
lables = ['BH_dist_code', 'TM_dist_cde', 'Matched_col_name', 'BH_val','TM_val']
result = pd.DataFrame(matched_cols, columns=lables)
result

0   203, 615, Main_source_of_drinking_water_Spring_Households, 67, 67
1   208, 616, Others_Religions, 42, 42
2   212, 615, Power_Parity_Above_Rs_545000, 31, 31
3   214, 622, Jains, 109, 109
4   216, 631, Power_Parity_Rs_150000_240000, 322, 322
5   220, 627, Main_source_of_drinking_water_Spring_Households, 183, 183
6   220, 619, Power_Parity_Rs_150000_240000, 240, 240
7   221, 627, Others_Religions, 112, 112
8   222, 616, Power_Parity_Above_Rs_545000, 18, 18
9   223, 624, Buddhists, 79, 79
10   223, 631, Age not stated, 914, 914
11   224, 630, Power_Parity_Rs_330000_425000, 42, 42
12   225, 633, Power_Parity_Less_than_Rs_45000, 510, 510
13   226, 611, Sikhs, 338, 338
14   226, 614, Main_source_of_drinking_water_River_Canal_Households, 862, 862
15   228, 603, Main_source_of_drinking_water_River_Canal_Households, 49, 49
16   229, 619, Others_Religions, 64, 64
17   232, 613, Type_of_latrine_facility_Other_latrine_Households, 1201, 1201
18   237, 619, Jains, 279, 279
19   237, 633, Main_source_of_drinking_water_Un_covered_well_Households, 23777, 23777
20   239, 622, Power_Parity_Less_than_Rs_45000, 248, 248

,BH_dist_code,TM_dist_cde,Matched_col_name,BH_val,TM_val
0,203,615,Main_source_of_drinking_water_Spring_Households,67,67
1,208,616,Others_Religions,42,42
2,212,615,Power_Parity_Above_Rs_545000,31,31
3,214,622,Jains,109,109
4,216,631,Power_Parity_Rs_150000_240000,322,322
5,220,627,Main_source_of_drinking_water_Spring_Households,183,183
6,220,619,Power_Parity_Rs_150000_240000,240,240
7,221,627,Others_Religions,112,112
8,222,616,Power_Parity_Above_Rs_545000,18,18
9,223,624,Buddhists,79,79
10,223,631,Age not stated,914,914
11,224,630,Power_Parity_Rs_330000_425000,42,42
12,225,633,Power_Parity_Less_than_Rs_45000,510,510
13,226,611,Sikhs,338,338
14,226,614,Main_source_of_drinking_water_River_Canal_Hous...,862,862
15,228,603,Main_source_of_drinking_water_River_Canal_Hous...,49,49
16,229,619,Others_Religions,64,64
17,232,613,Type_of_latrine_facility_Other_latrine_Households,1201,1201
18,237,619,Jains,279,279
19,237,633,Main_source_of_drinking_water_Un_covered_well_...,23777,23777
20,239,622,Power_Parity_Less_than_Rs_45000,248,248